# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np.메서드()
* np.속성

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] # 리스트 표기법
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [5]:
data = []
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[0.4769850104122995, 3.248943919430755, -1.0212275243555968, -0.5770873030407672, 0.12412127567340774, 0.3026135619125114, 0.5237720681504165]

# 2.  변수와 참조

In [6]:
a = [1, 2, 3] # 참조

In [7]:
b = a # 변수 a와 b가 동일 객체 [1,2,3]
b

[1, 2, 3]

In [11]:
a.append(4)
# a
b

[1, 2, 3, 4, 4, 4, 4]

# 3. 사용자 정의 함수 &  호출

In [12]:
def append_element(some_list, element):
    some_list.append(element)

In [16]:
data = [1, 2, 3]
append_element(data, {1:"one",2:"two"})
data

[1, 2, 3, {1: 'one', 2: 'two'}]

# 4. 내장형 함수 :  type()

In [19]:
a = 5 # int
print(type(a))
a = "foo" # str
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [22]:
"5" + 5 # 자동형변환 불가능

TypeError: can only concatenate str (not "int") to str

In [24]:
# 숫자 간 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수 : isinstance()

In [1]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [2]:
a = 5 
print(isinstance(a, int))

True

In [4]:
a = 5
b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

# 7. 내장함수 : iter()
* str
* list
* tuple

In [1]:
def isiterable(obj):
    try:
        iter(obj) # iter 호출
        return True
    except TypeError: # not iterable
        return False

In [4]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [5]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. key word : is, is not
* is : 두 개의 객체가 동일 여부 확인
* is not : 두 개의 객체가 상이한지 여부

In [12]:
a = [1, 2, 3] #list
a
b = a
b
c = list(a) # 새로운 객체가 생성
c
a is b
a is c
a is not c

True

In [13]:
a == c # 객체의 내용  비교

True

# 9. None 객체
* 파이썬 결측값  null

In [17]:
a = None
a
print(a)
a is None

None

True

# 10. list 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
  * 수정, 삭제, 추가
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
  * 변수명.count()
* 연산자 : +, *

In [18]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) # 수정
a_list

['foo', 2, (3, 4)]

# 11. tuple 자료형
* iterable 객체
* vr = ()
* vr = tuple()
* immutable 객체
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
* tup.count()
* 연산자 : +, *

In [20]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] 

a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = "   "
* vr = str()
* immutable 객체
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드:
  * str.count()
  * str.replace()
* 연산자 : +, *

In [21]:
c = """
This is a longer string that
spans multiple lines
"""

In [22]:
c.count("\n") #3

3

In [24]:
a = "this is a string"
a[10]
a[10] = "f" # 수정

TypeError: 'str' object does not support item assignment

In [26]:
b = a.replace("string", "longer string") # 수정 -> 새로운 문자열
b
a

'this is a string'

In [27]:
a = 5.6
s = str(a)
print(s)

5.6

In [30]:
s = "python"
list(s)
s[:3] #s[0:3:1]

'pyt'

In [31]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포맷 방법>

In [32]:
template = "{0:.2f} {1:s} are worth US${2:d}"  # method1
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [33]:
amount = 10  #method2
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* bytes.decoding()

In [34]:
val = "español"
val

'español'

In [36]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [37]:
val_utf8.decode("utf-8")

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [38]:
True and True
False or True

True

In [39]:
int(False) # 0
int(True) #1

1

In [40]:
a = True
b = False
not a
not b

True

In [41]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [42]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [48]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt
dt.day
dt.minute

30

In [50]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [51]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [52]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [53]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [54]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [57]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 시간 차이 -> 기간
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [58]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator : 
* range()
* enmurate()
* zip()
* map()

In [61]:
range(10) # generator 객체
list(range(10)) # 데이터 접근 1
for i in range(10): # 데이터 접근 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [64]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [65]:
total = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668