## #. 순차 기본 자료형
* tuple
* str
* list

### 1. tuple

In [1]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
tuple([4, 0, 2]) # tuple()
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
tup[0]

's'

In [5]:
nested_tup = (4, 5, 6), (7, 8) # nested tuple
nested_tup
nested_tup[0]
nested_tup[1]

(7, 8)

In [6]:
tup = tuple(['foo', [1, 2], True]) 
tup
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [7]:
tup[1].append(3) # tup : 튜플형, tup[1] : 리스트형
tup

('foo', [1, 2, 3], True)

In [8]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [10]:
tup = (4, 5, 6)  # unboxing
a, b, c = tup
b

5

In [11]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [13]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [18]:
a, b, *_ = values
a
b

2

In [19]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [21]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [20]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [23]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [24]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [26]:
removed = b_list.pop(2)
removed
b_list

['foo', 'red', 'dwarf']

In [27]:
b_list.append("foo")
print(b_list)
b_list.remove("foo")
b_list

['foo', 'red', 'dwarf', 'foo']

['red', 'dwarf', 'foo']

## 예약어 : 소속
* in
* not in

In [28]:
"dwarf" in b_list

True

In [26]:
"dwarf" not in b_list

False

In [27]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [29]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [30]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [33]:
?list.sort

Signature: list.sort(self, /, *, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      method_descriptor

In [34]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [35]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [36]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [37]:
seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

In [38]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [35]:
seq[::2]

[7, 3, 3, 0]

In [39]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

# 2. 딕셔너리 자료형
* 변수 = {}
* 변수 = dict()
* 키  : 값
* 메서드 :
  * dict.keys()
  * dict.values()
  * dict.items()
  * dict.update()
* 키 포람 여부 확인 : "키" in 딕셔너리
* 자료 생성 : dict["키"] = 값
* 자료 제거 : del dict["키명"]
* 자료 수정 : dict["키"] = 값
* 자료 검색 : dict["키"]

In [2]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
d1[7] = "an integer" # 추가
print(d1)
print(d1["b"] )
type(d1["b"])

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

list

In [4]:
"b" in d1 # d1 사전에 키  "b" 존재 확인

True

In [5]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)

del d1[5]
print(d1)
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [6]:
?dict.keys

Docstring: D.keys() -> a set-like object providing a view on D's keys
Type:      method_descriptor

In [64]:
type(d1.keys())

dict_keys

In [7]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [11]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [13]:
for i in d1.items():
    print(i)

('a', 'some value')
('b', [1, 2, 3, 4])
(7, 'an integer')

In [14]:
for i in d1:
    print(i)

a
b
7

In [16]:
for i in d1.keys():
    print(i)

a
b
7

In [19]:
for i in enumerate(d1.keys()):
    print(i)

(0, 'a')
(1, 'b')
(2, 7)

In [20]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [21]:
for k, v in d1.items():
    print(f"key={k},value={v}")

key=a,value=some value
key=b,value=foo
key=7,value=an integer
key=c,value=12

# 3. iterable object
* 반복 가능한 객체
* 한 번에 하나씩 자료를 반환할 수 있는 객체
* for 문으로 그 값을 출력 할 수 있는 것을 의미
* iterable한 객체 종류
  * sequence types : list, str, tuple
  * non-sequence types : dict, file,
       objects of any classes you define with an __iter__()
* iterable한 객체를 argument로 받는 함수 종류
  * map (function, iterable)
    * 입력 받은 iterable 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴한다.
  * Sorted (iterable)
    * 입력값을 정렬한 후 그 결과를 리스트로 리턴하는 함수이다.
  * zip (iterable*)
    * 동일한 개수로 이루어진 자료형을 튜플 형태로 묶어 주는 역할을 하는 함수
  * enumerate(iterable)
    * 입력값을 인덱스와 함께 리턴한다

In [22]:
?zip

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [32]:
tuples = zip(range(5), reversed(range(5)))
tuples
print(list(tuples) )# method1
mapping = dict(zip(range(5), reversed(range(5)))) # method2
print(mapping)
for i in zip(range(5), reversed(range(5))): # method 3
    print(i)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}
(0, 4)
(1, 3)
(2, 2)
(3, 1)
(4, 0)

In [33]:
data = []
for a, b in zip(range(5), reversed(range(5))):
    data.append((a,b))
data

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [34]:
data = {}
for a, b in zip(range(5), reversed(range(5))):
    data[a]=b
data

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### <문제>

In [35]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [45]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

In [37]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [41]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [38]:
?hash

Signature: hash(obj, /)
Docstring:
Return the hash value for the given object.

Two objects that compare equal must also have the same hash value, but the
reverse is not necessarily true.
Type:      builtin_function_or_method

In [42]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [43]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [50]:
a = {1, 2, 3, 4, 5}
a
b = {3, 4, 5, 6, 7, 8}
b

{3, 4, 5, 6, 7, 8}

In [51]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
a.intersection(b)
a & b

{3, 4, 5}

In [53]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [47]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [54]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [55]:
{1, 2, 3} == {3, 2, 1}

True

In [56]:
data_1 = sorted([7, 1, 2, 6, 0, 3, 2])
print(data_1)
data_2 = sorted("horse race")
print(data_2)

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [62]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
zipped
list(zipped)
for i, j in zip(seq1, seq2):
    print(i,j)

foo one
bar two
baz three

In [63]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [64]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [65]:
?enumerate

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

list(reversed(range(10)))

# 4. 반복 표기법
* 리스트
* 튜플
* 딕셔너리
* 집합

In [68]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2] # list apprehension

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [67]:
data = []
for x in strings:
    if len(x) > 2:
        data.append(x.upper())
data

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [69]:
unique_lengths = {len(x) for x in strings} # set apprehension
unique_lengths

{1, 2, 3, 4, 6}

In [70]:
data = set()
for x in strings:
    data.add(len(x))
data

{1, 2, 3, 4, 6}

In [71]:
set(map(len, strings)) #alternative

{1, 2, 3, 4, 6}

In [72]:
loc_mapping = {value: index for index, value in enumerate(strings)} # dictionary apprehension
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [73]:
loc_mapping={}
for index, value in enumerate(strings):
    loc_mapping[value]= index
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## < 중첩 표기법 >

In [78]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]] # 중첩 리스트

names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [79]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]  # 중첩 리스트 표기
result

['Maria', 'Natalia']

In [81]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup] 
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [71]:
[[x for x in tup] for tup in some_tuples]

# 5. 사용자 정의 함수
* argument : positional argument, keyword argumnet, function
  * 예: map(len, iterable)
* global variable
* loval variable

In [83]:
def my_function(x, y):
    return x + y

In [84]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [85]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [86]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [87]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [94]:
a = []
def func():
    for i in range(5):
        a.append(i)

[0, 1, 2, 3, 4]

In [95]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [96]:
a = None
def bind_a_variable():
    global a
    a = [1,2]
bind_a_variable()
print(a)

[1, 2]

In [97]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [98]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [99]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [100]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title] #함수을 객체로 사용

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [101]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

### **  map()

In [102]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [104]:
for x in map(str.strip, states):
    print(x)

Alabama
Georgia!
Georgia
georgia
FlOrIda
south   carolina##
West virginia?

## ** lambda 익명함수
* 변수 = lambda 입력 : 수식

In [86]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [105]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [88]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [106]:
strings.sort(key=lambda x: len(set(x)))
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [107]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [109]:
?iter

Docstring:
iter(iterable) -> iterator
iter(callable, sentinel) -> iterator

Get an iterator from an object.  In the first form, the argument must
supply its own iterator, or be a sequence.
In the second form, the callable is called until it returns the sentinel.
Type:      builtin_function_or_method

In [108]:
dict_iterator = iter(some_dict)
dict_iterator

In [110]:
list(dict_iterator)

['a', 'b', 'c']

# 7. Generator 객체

In [112]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [113]:
gen = squares()
gen

In [114]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [116]:
gen = (x ** 2 for x in range(100)) # 튜플 표기
gen

In [97]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [117]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

# 8. 예외처리

In [118]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [119]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [120]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [121]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [122]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [104]:
attempt_float((1, 2))

In [105]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

# 8. file I/O

In [123]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [124]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [125]:
f.close()

In [126]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [127]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [128]:
f1.tell()
f2.tell()

10

In [112]:
import sys
sys.getdefaultencoding()

In [113]:
f1.seek(3)
f1.read(1)
f1.tell()

In [114]:
f1.close()
f2.close()

In [129]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sue챰a el rico en su riqueza,\n',
 'que m찼s cuidados le ofrece;\n',
 'sue챰a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue챰a el que a medrar empieza,\n',
 'sue챰a el que afana y pretende,\n',
 'sue챰a el que agravia y ofende,\n',
 'y en el mundo, en conclusi처n,\n',
 'todos sue챰an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [130]:
import os
os.remove("tmp.txt")

In [131]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [132]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [135]:
data.decode("utf-8")
# data[:4].decode("utf-8")

'Sueña el '

In [136]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

UnicodeEncodeError: 'latin-1' codec can't encode character '\ucc70' in position 3: ordinal not in range(256)

In [137]:
os.remove(sink_path)

In [138]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte